<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Story Telling</title>
    <script
      src="https://kit.fontawesome.com/fcfbb66bbf.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="{% static 'style.css' %}" />
  </head>
  <body>
    <header class="not-fixed">
      <div class="head__title">
        <h2>Story Telling</h2>
      </div>
      <nav class="navbar">
        <ul>
          <a href="{% url 'homepage' %}"><li class="active">Home</li></a>
          <a href="{% url 'write-a-story' %}"
            ><li class="btn">Write A Story...</li></a
          >
        </ul>
      </nav>
    </header>
    <div
      class="story-image"
      style="background-image: url('{% static 'images/roma-kaiuk-jWs4lsGLe4I-unsplash.jpeg' %}');"
    ></div>
    <section id="story-section">
      <!-- Section with Image and text -->

      <div class="story-container">
        <div class="story">
          <div class="story-header">
            <h2 class="story-title">{{ story.title | title }}</h2>
            <span id="author">Author: {{ story.author }}</span>
          </div>
          <div class="story-content">
            <span id="story-incipit"> {{ story.headline }}... </span>
            {{ story.content.html|safe }}
          </div>
        </div>
        <div class="actions">
          {% csrf_token %}
          <span class="fas fa-heart" id="like-btn"></span>Likes:
          <span id="likes">{{ story.likes }}</span>
          <span class="fas fa-eye"></span> Read:
          <span id="reads" >{{ story.views }}</span>
        </div>
      </div>
    </section>
    <footer></footer>
    <script src="{% static 'index.js' %}"></script>
  </body>
</html>
